.THIS .media-main-section{
    height:693px;
    width:1024px;
}

.THIS .header{
    margin-top:40px;
    width:370px;
}
.THIS .header p{
    font-size:70px;
    line-height:90px;
    display:inline;
    color:#000;
    border-bottom: 4px solid;
    font-family: 'GermaniaOne';
    letter-spacing: 0;
	
	opacity: 1;
    
    
}
.THIS .images{
    margin-left:22px;
    margin-top:41px;
}



.THIS .localinputText{
    margin-top:33px;
    width:335px;
}

@font-face {
    font-family: 'GermaniaOne';
    src: url('/resource/1566988981000/GermaniaOne'); 
    
}
@font-face {
    font-family:'Josefin_Sans' ;
    src: url('/resource/1566989749000/Josefin_Sans');
}