.THIS .media-main-section{
    height:693px;
    width:1024px;
}
.THIS .header{
    margin-top:40px;
    width:184px;
}
.THIS .TastingNotesText{
    width:380px;
    font-family: 'Josefin_Sans';
    font-size:21px; 
    letter-spacing: 0.42px; 
    color: #000000; 
}
.THIS .border-top{
    border-top: 4px solid #FDE57B;
    margin-top:0px;
    width:161px;
}
.THIS .header p{
    font-size:70px;
    line-height:90px;
    display:inline;
    color:#000;
    border-bottom: 4px solid;
    font-family:'GermaniaOne' ;
    letter-spacing: 0;
	text-align:left;
	opacity: 1;
   
    border-color: #ED6803; 
   
}
.THIS .images{
    margin-left:22px;
    margin-top:41px;
    
}
@font-face {
    font-family: 'GermaniaOne';
    src: url('/resource/1566988981000/GermaniaOne'); 
    
}
@font-face {
    font-family:'Josefin_Sans' ;
    src: url('/resource/1566989749000/Josefin_Sans');
}
.THIS .mediatabs button{
    width:100px;
    height:35px;
    text-align:center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 4px solid #ED6803;
opacity: 1;
    color :black;
    font-size:18px;font-weight:bold;
    font-family:'Josefin_Sans';
}