.THIS .header{
    text-align: left;
	font-family: Josefin Sans;
	letter-spacing: 0.24px;
	color: #000000;
	opacity: 1;
    font-size: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;

}
.THIS .header-wrapper{
    top: 0px;
left: 0px;
width: 1024px;
height: 75px;
}
.THIS .smallmenu{
    top: 45px;
left: -205px;
width: 300px;
height: 462px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #000000;
opacity: 1;
   
}
.THIS .smallmenu1{
    top: -60px;
left: 925px;
width: 17px;
height: 17px;
text-align:center;
opacity: 1;
}
.THIS .smallmenu p{
    font-size: 18px;
    font-family:Josefin Sans;
   color: black;
    
}