.THIS .months{
    color: #000;
    font-size: 20px;
    display: inline-block;
    padding-right: 6px;
    font-weight: bold;
}
.THIS .casesDiv .image{
    vertical-align: middle;
    padding: 8px !important;
    border: unset !important
}
.THIS .image img{
    width:30px;
}
.THIS .ring_expired svg {
    fill: transparent;
    border: 3px solid #A50034;
    border-radius: 50%;
}